.card{


    .icon-bar{
        width: 100%;
        position:absolute;
        //top:20px;
        background-color: white;
        opacity: 0.7;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        li{
            margin-right: 8px;
            .btn-default{
                background: transparent;
                border: 0px;
                padding: 0px;
                margin: 0px;
            }
        }
    }
}
